name: ed_dicom_viewer
description: It is used to view .dcm (Dicom) files for flutter. Android only for now.
version: 0.0.2
homepage: https://github.com/endmr11/ed_dicom_viewer

environment:
  sdk: '>=3.1.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.example.ed_dicom_viewer
        pluginClass: EdDicomViewerPlugin
      ios:
        pluginClass: EdDicomViewerPlugin
